* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    padding: 0 1em;
    max-width: 60rem;
    margin: 0 auto;
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em gray, 0 0 0.2em gray;
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/873/692/desktop-wallpaper-interdimensional-rss-the-rick-and-morty-podcast-rick-and-morty-outer-space.jpg);
    background-attachment: fixed;
    background-size: cover;
}

header{
    height: 100vh;
}

h1, .a-start{
    display: flex;
    justify-content: center;
}
h2{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 3rem;
    color: azure;
    margin-bottom: 1rem;
}

h3{
    font-family: 'Roboto Mono', monospace;
}
h4{
    margin: 1rem;
}


header,
main,
footer,
.card,
#container {
    display: flex;
}

header,
main,
footer {
    margin: 2rem 0;
    justify-content: center;
    align-items: center;
}


header, main {
    flex-direction: column;
    gap: 2rem;
}

#container {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: rgba(32, 32, 32, 0.5);
    padding: 1rem;
    border-radius: 2rem;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 100%;
    border-radius: 50%;
    border: 0.5rem solid #00b0c8;
}
.container-no-card{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}
.card .no-card{
    width: 70%;
    border-radius: 0.8rem;
    border: 0.5rem solid #00b0c8;
}
#container .card {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.4rem;
}

.start {
    max-width: 70%;
}

.start-icon{
    max-width: 25rem;
    max-height: 25rem;
}

.menu ul li{
    list-style: none;
    font-family: 'Delicious Handrawn', cursive;;
    font-size: 3rem;

   }
a{
    text-decoration: none;
    color: azure;
}
.go{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.imdb img, .hbo img{
    width: 8rem;
    height: 5rem;
    border: none;  
    border-radius: 0%;  
    margin: 3rem;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
footer{
    flex-direction: column;
}
.social{
    display: flex;
}
.p-footer {
    text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
    font-size: 1rem;
}
.ig{
    width: 3rem;
    height: 3rem;
    margin: 5rem;

}
.github{
    width: 3rem;
    height: 3rem;
    margin: 5rem;
}
.lk{
    width: 3rem;
    height: 3rem;
    margin: 5rem;
}

/* Tablets */
@media (min-width: 35rem) {
    #container .card {
        width: 45%;
        font-size: 1.2rem;
    }

    #container {
        justify-content: space-between;
    }

    footer p {
        font-size: 1.5rem;
    }
    .menu ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
        
    }

}

/* Desktop */
@media (min-width: 50rem) {
    #container {
        gap: 2rem;
    }

    #container .card {
        width: 30%;
    }

    body {
        font-size: 1.2rem;
    }

    footer p {
        font-size: 2rem;
    }
    .menu ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
        
    }
}

