
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

/*Header*/
header{
    background-color: black;
    height: 100vh;
    width: 100%;
    z-index: -10;
}
/* return */
.return{
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    color: azure;
    text-align: center;
    padding: 20px;
}
/* seccion menu */
.header_nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: aliceblue;

}

.menu ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    padding: 5px;
    
}
.menu ul li{
    list-style: none;
    font-family: 'Delicious Handrawn', cursive;;
    font-size: 35px;
   
   }
a{
    text-decoration: none;
    color: azure;
}
/* star */
.cont-start{
    background-color: black;
    position: absolute;
}
.star{
    text-align: center;
    margin-top: 30px;
}
.star img{
    width: 500px;
    height: 600px;
    margin: 10px;
    padding: 20px;
} 
@font-face {
    font-family: 'get_schwifty';
    src: local('get_schwifty.tff') format(truetype);
} 
h1{
    font-family: get_schwifty;
    font-size: 50px;
    color: rgb(17,176,200);
    text-shadow: -2px -2px 1px rgba(187,218,64,1), 2px -2px 1px rgba(187,218,64,1), -2px 2px 1px rgba(187,218,64,1), 2px -2px 1px rgba(187,218,64,1);
}
/* fondo dinamico */
.container{
    width: 100%;
    z-index: 0;
    position: absolute;
}

.puntos{
    position: absolute;

    display: flex;
}
.puntos span{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #70c913;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #9ee45e, 
    0 0 50px #fbf899,
    0 0 100px #fbf899;
    animation: animate 15s linear infinite;
    animation-duration: calc(10s / var(--i));
}
.puntos span:nth-child(even)
{
    background-color: #2a8735;
    box-shadow: 0 0 0 10px #8ed201, 
    0 0 50px #f6fa9b,
    0 0 100px #f6fa9b;
}
@keyframes animate
{ 
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}

/*Main*/
/* cont-summary */
.cont-summary {
    background-color: black;
    min-height: 100vh;
    width: 100%;
}
.cont-summary h2, .charact, .cont-facts h2, .cont-whatch h2{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 50px;
    color: azure;
    padding: 10px;
    text-align: center;
    background-color: #00b0c8;
    border: 5px solid #9efd89;
    border-radius: 10%;
}
.cont-summary p{
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color: azure;
    padding: 20px;
    margin: 10px;
}
.video{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 10px;
}
/* cont-characters */
.cont-characters{
    background-color: black;
    min-height: 100vh;
    width: 100%;
}

#container {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 20px;
  }
.item-grid {
    width: 300px;
    height: 450px;
    background-color: #9efd89;
    padding: 20px;
    text-align: center;
    border-radius: 50%;
    border: 3px solid #00b0c8;
}
  
.item-grid img {
    width: 100%;
    border-radius: 50%;
}

.item-grid h3{
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color:black;
}
.item-grid p{
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    color: black;
}
/* cont-facts */

.cont-facts{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 20px;
    width: 100%;
    
}
.cont-facts article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.fact p{
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    color: azure;
}
.fact img{
    width: 500px;
    
} 
/* cont-whatch */
.cont-whatch{
    background-color: black;
    width: 100%;
    
}
.go{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    margin-bottom: 10%;
}

.ig a img, .imdb a img{
    width: 200px ;
    height: 100px;
   
}
.ig a img{
    margin-top: 20px;
}
.imdb a img{
    margin-top: 50px;
}

/* footer */
footer{
    background-color: black;
    width: 100%;
}
article{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.social p, .course{
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    color: white;
}
.social{
    display: flex;
}
.ig{
    width: 70px;
    height: 70px;
}
.github{
    width: 60px;
    height: 60px;
}
@media(max-width:500px){
    
    .menu ul li{
        font-size: 20px;
    }
    .star img{
        width: 400px;
        height: 600px;
        margin: 10px;
        padding: 20px;
    } 
    main{
        flex-direction: column;
    }
    .ig a img, .imdb a img{
        width: 100px ;
        height: 60px;
       
    }
    .return{
        font-size: 20px;
    }
    /* footer */
    .ig{
    width: 60px;
    height: 60px;
    }
    .github{
    width: 50px;
    height: 50px;
    }
    .social p, .course{
    font-size: 10px;
    }
}

